# Mix models Sin vs catboosts

In [1]:
import pandas as pd
import numpy as np

In [2]:
catboost_1_5 = pd.read_csv('data2/catboost_dataset1_models_1-5.csv', index_col='timestamp', parse_dates=True)
catboost_6_10 = pd.read_csv('data2/catboost_dataset1_models_6-10.csv', index_col='timestamp', parse_dates=True)
baseline_sin = pd.read_csv('data/model_baseline_sin.csv', index_col='timestamp', parse_dates=True)

In [3]:
np.corrcoef(catboost_6_10['B_C3H8'], baseline_sin['B_C3H8'])

array([[1.        , 0.85593833],
       [0.85593833, 1.        ]])

In [4]:
catboost1_catboost2_sin = catboost_1_5 * 0.15 + catboost_6_10 * 0.45 + baseline_sin * 0.4
catboost1_catboost2_sin.to_csv('data/catboost1_catboost2_sin.csv')
catboost1_catboost2_sin

                       B_C2H6     B_C3H8   B_iC4H10   B_nC4H10
timestamp
2020-05-01 00:00:00  5.100768  36.166541  16.172446  24.406837
2020-05-01 00:30:00  5.100719  36.165976  16.157286  24.405937
2020-05-01 01:00:00  5.100669  36.172994  16.128922  24.398736
2020-05-01 01:30:00  5.100620  36.174465  16.127387  24.393159
2020-05-01 02:00:00  5.100570  36.180466  16.136923  24.391364
...                       ...        ...        ...        ...
2020-07-22 21:30:00  3.731125  38.539732  17.604020  24.887164
2020-07-22 22:00:00  3.707234  38.483882  17.565735  24.881196
2020-07-22 22:30:00  3.703964  38.471561  17.539918  24.905386
2020-07-22 23:00:00  3.704409  38.448081  17.602479  24.939085
2020-07-22 23:30:00  3.695218  38.429927  17.613017  24.944239

[3984 rows x 4 columns]

In [5]:
catboost1_catboost2_sin.to_csv('data/catboost1_catboost2_sin.csv')